<p id="notice"><%= notice %></p>

<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header"><%= @task.label %></div>
  <div class="card-body">
    <h5 class="card-title"><%= @task.content %></h5>
    <p class="card-text">Action done ? <%= @task.completed %></p>
    <h5 class="card-title">Collaborators :</h5>
    <% @task.collaborators.each do |collaborator| %>
      <%= collaborator.email %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
