<!DOCTYPE html>
<html>
  <head>
    <title>CatApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="<%= root_path %>">CAT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <a class="nav-link" href="#">My Actions <span class="sr-only">(current)</span></a>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>


        <% if user_signed_in? %>
          <%= link_to "sign out", destroy_user_session_path, method: :delete,
            class: 'text-blue nav-link' %>
        <% else %>
          <%= link_to "sign in", new_user_session_path, class: 'text-blue nav-link' %>
          <%= link_to "sign up", new_user_registration_path, class: 'text-blue nav-link' %>
        <% end %>

      </div>
    </nav>

    <div class="container">
    <!-- Content here -->

      <% if notice.present? %>
        </br><div class="p-3 mb-2 bg-success text-white rounded"><%= notice %></div>
      <% end %>

      <% if alert.present? %>
        </br><div class="p-3 mb-2 bg-danger text-white rounded"><%= alert %></div>
      <% end %>

      <%= yield %>
    </div>


  </body>
</html>
